.underline{
    text-decoration: underline;
}
.background{
    background-color: rgb(190, 190, 242);
}
.narrow{
    font-stretch: ultra-condensed;
}
.img{
    opacity: 1;
}

p{
    font: calibri;
    color: rgb(0, 0, 0);
}
